ANTHROPIC_API_KEY=skip
GROK_API_KEY=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
HUGGINGFACE_API_KEY=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

# Kaggle credentials needed for dataset setup via Kaggle CLI
# (Run 'pip install kaggle', then 'python setup_data.py')
KAGGLE_USERNAME=atharvdhole007
KAGGLE_KEY=6c27601f77900b571d1d4a738eba5195

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
CORS_ORIGINS=http://localhost:5173
